html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Overpass', sans-serif;
    line-height: 1.3;
}

/* Estilos Header */

.container {
    width: 100%;
    height: 600px;
    position: absolute;
    background-image: url(images/bg-pattern-intro-desktop.svg), linear-gradient(135deg, #FF8F71, #FF3E55);
    background-position: 35% 35%;
    background-size: 350%, 100%, 0% 0%;
    border-bottom-left-radius: 100px;
    background-repeat: no-repeat;  
   }

.container .nav {
    
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.nav h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: white;
}

.text-header {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;  
      
}

#p1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5rem 1rem 0 1rem;

    
}

#p2 {
    color: white;
    font-size: 20px;
    font-weight: 100;  
    padding: 0 5rem 0 5rem;  
    margin-bottom: 10px;
}

.botao-header a {
    text-decoration: none;
    height: 10rem;
    width: 40%;
    align-self: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    background-color: rgb(224, 224, 224);
    color: hsl(356, 100%, 66%);
    
}
.botao-header a:hover {
    background-color: hsl(355, 100%, 74%);
}

/*Estilos seção 1*/

.section1 {
    width: 100%;
    height: 1086px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 5rem 0 0 0;
}

.section1 h2 {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 15rem 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

.conteudo1 .editor-mobile {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
     
}

.texto-conteudo1 h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

h3 span {
    display: block;
}

.texto-conteudo1 p {
    color: hsl(207, 13%, 34%);
    line-height: 1.5rem;
    margin: 0 1rem 0 1rem;
}

/* Estilos seção middle */

.celulares {
    width: 100%;
    position: relative;
}

.celulares img {
    position: absolute;
    width: 375px;
    top: 0;
    left: 0;
    margin-top: 10rem;
}

.section-middle {
    width: 100%;
    height: 450px;
    margin-top: 21rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(#2C2D3F,#3F4164);
    background-size: 163%, 100%;
    background-position: 50% 170%, 0%;
    background-repeat: no-repeat, no-repeat;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    

}

.texto-conteudo-middle {
    margin-top: 10rem;
    
}

.texto-conteudo-middle h3 {
    color: white;
    font-size: 1.8rem;
    padding: 2rem 2rem 0 2rem;
    
    
}

.texto-conteudo-middle p {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem 2rem 0 2rem;
    
}

/* Estilos seção 2 */

.section2 {
    width: 100%;
    height: 1086px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 0 0 0;
}

.conteudo2 .laptop-mobile {
    padding: 0 0 0 1rem;
}

.texto-conteudo2 h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

.texto-conteudo2 p {
    color: hsl(207, 13%, 34%);
    line-height: 1.5rem;
    margin: 0 1.5rem 0 1.5rem;
}

/* Estilos footer*/

.footer {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 90px;
}

.footer h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding-top: 3rem;
}

.footer img{
    transform: scale(30%);
    position: relative;
    bottom: 100px;
    left: 25px;
   
}

.footer h5{
    color: hsl(240, 2%, 79%);
    margin: 1rem 0 0 0;
}

.footer h6{
    color: hsl(240, 2%, 79%);
    margin: 1 0 19rem 0;
    
}



/*<a href="#">Início</a>
            <a href="#">Sobre o app</a>
            <a href="#">FAQ</a>
            <a href="#">Sobre a empresa</a>
            <a href="#">Contato</a>
            */


