html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Overpass', sans-serif;
    line-height: 1.3;
}

/* Estilos Header */

.container {
    width: 100%;
    height: 600px;
    position: absolute;
    background-image: url(images/bg-pattern-intro-desktop.svg), linear-gradient(135deg, #FF8F71, #FF3E55);
    background-position: 35% 35%;
    background-size: 350%, 100%, 0% 0%;
    border-bottom-left-radius: 100px;
    background-repeat: no-repeat;  
}

.container .nav {
    
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.nav h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: white;
}

.text-header {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;  
}

#p1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5rem 1rem 0 1rem;
}

#p2 {
    color: white;
    font-size: 20px;
    font-weight: 100;  
    padding: 0 5rem 0 5rem;  
    margin-bottom: 10px;
}

.botao-header {
    margin-top: 3rem;
}

.botao-header a {
    text-decoration: none;
    height: 10rem;
    width: 40%;
    align-self: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    background-color: rgb(224, 224, 224);
    color: hsl(356, 100%, 66%);     
}

.botao-header a:hover {
    background-color: hsl(355, 100%, 74%);
}

/* Estilos menu */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 1s ease-in-out;
}

.fecha-botao {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 270%;
    transform: scale(30%);
    margin-top: -25px;    
}

.menu-wrapper {
    background-color: white;
    width: 82%;
    height: 200px;
    border-radius: 5px;
    margin-top: 3rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1), 0px 20px 30px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abas-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(224, 224, 241);
    border-radius: 5px;
    width: 50%;
    padding: 1rem;
}

.abas-menu a {
    display: block;
    color: hsl(208, 49%, 24%);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem;
}

.abas-menu a:hover {
    color: hsl(208, 32%, 55%);
}

.menu-hide {
    left: 100vw;
    opacity: 0;
}

.hamburger {
    transition: all 1s ease-in-out;
}

.hamburger-hide {
    opacity: 0;
}

/*Estilos seção 1*/

.section1 {
    width: 100%;
    height: 1086px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 5rem 0 0 0;
}

.section1 h2 {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 10rem 2rem 1rem 2rem;
    color: hsl(208, 49%, 24%)
}

.conteudo1 .login-mobile {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    transform: scale(130%);
}

.conteudo1 .login-desktop {
    display: none;
}

.texto-conteudo1 h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

h3 span {
    display: block;
}

.texto-conteudo1 p {
    color: hsl(207, 13%, 34%);
    line-height: 1.5rem;
    margin: 0 1rem 0 1rem;
}

/* Estilos seção middle */

.celulares {
    width: 100%;
    position: relative; 
}

.celulares img {
    position: absolute;
    width: 375px;
    top: 0;
    left: 0;
    margin-top: rem;
    display: flex;
    align-self: center;
    transform: scale(110%);
}

.section-middle {
    width: 100%;
    height: 450px;
    margin-top: 21rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(#2C2D3F,#3F4164);
    background-size: 163%, 100%;
    background-position: 50% 170%, 0%;
    background-repeat: no-repeat, no-repeat;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.texto-conteudo-middle {
    margin-top: 10rem; 
}

.texto-conteudo-middle h3 {
    color: white;
    font-size: 1.8rem;
    padding: 2rem 2rem 0 2rem;
}

.texto-conteudo-middle p {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem 2rem 0 2rem;
}

/* Estilos seção 2 */

.section2 {
    width: 100%;
    height: 1086px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 0 0 0;
}

.conteudo2 .carregamento-mobile {
    padding: 22rem 0 0 2rem;
    margin-top: 4rem;
    transform: scale(100%);
    align-self: center;
}

.conteudo2 .carregamento-desktop {
    display: none;
}

.texto-conteudo2 h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

.texto-conteudo2 p {
    color: hsl(207, 13%, 34%);
    line-height: 1.5rem;
    margin: 0 1.5rem rem 0rem;
}

/* Estilos Formulário*/

.conteudo2 .contato {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

#form {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 25rem;
    padding-bottom: 2rem;
}

.nomeEmail {
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(208, 49%, 24%)
}

.nomeMensagem {
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(208, 49%, 24%)
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

.botao-enviar {
    text-decoration: none;
    height: 2rem;
    width: 20%;
    align-self: center;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    background-color: rgb(224, 224, 224);
    color: hsl(208, 49%, 24%);
    margin-top: 0.6rem;
    cursor: pointer;
}

.botao-enviar:hover {
    background-color: hsl(355, 100%, 74%);
}


/* Estilos footer*/

.footer {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 90px;
}

.footer h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding-top: 3rem;
}

.footer img{
    transform: scale(30%);
    position: relative;
    bottom: 100px;
    left: 25px;
}

.footer h5{
    color: hsl(240, 2%, 79%);
    margin: 1rem 0 0 0;
}

.footer h6{
    color: hsl(240, 2%, 79%);
    margin: 1 0 19rem 0;   
}

/* MEDIAQUERY 1024PX */

@media screen and (min-width: 1024px){

/* Header */

.container {
    width: 100%;
    height: 500px;
    position: absolute;
    background-image: url(images/bg-pattern-intro-desktop.svg), linear-gradient(135deg, #FF8F71, #FF3E55);
    background-position: 25% 52%;
    background-size: 220%, 100%, 0% 0%;
    border-bottom-left-radius: 100px;
    background-repeat: no-repeat;  
}

.container .nav {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.nav h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    color: white;
    width: 40%;
    padding-left: 1rem;
    text-align: center;
}

.text-header {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;  
}

#p1 {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2.5rem 1rem 0 1rem;
}

#p2 {
    color: white;
    font-size: 1.6rem;
    font-weight: 100;  
    padding: 0 5rem 1rem 5rem;  
}

.botao-header {
    margin-top: 0;
}

.botao-header a {
    text-decoration: none;
    height: 10rem;
    width: 40%;
    align-self: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    background-color: rgb(224, 224, 224);
    color: hsl(356, 100%, 66%); 
    cursor: pointer;   
}

.botao-header a:hover {
    background-color: hsl(355, 100%, 74%);
}

/* Menu */

.menu {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    display: block;
}

.fecha-botao {
    display: none;    
}

.menu-wrapper {
    background-color: transparent;
    width: 98%;
    height: auto;
    border-radius: 0;
    margin-top: 0; 
    box-shadow: none;  
    flex-direction: row; 
    justify-content: flex-end;
}

.abas-menu {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 75%;
}

.abas-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.2rem;  
}

.abas-menu a:hover {
    color: hsl(240, 2%, 79%);
    font-size: 1.3rem;
    text-decoration: underline;
}

.menu-hide {
    left: 0;
    opacity: 1;   
}

.hamburger {
    display: none;
}

/*Seção 1*/

.section1 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 0 20rem 0;
}

.section1 h2 {
    font-size: 2.8rem;
    font-weight: 600;
    padding: 30rem 2rem 7rem 2rem;
    color: hsl(208, 49%, 24%)
}

.login-mobile, .carregamento-mobile {
    display: none;   
}

.conteudo1 .login-desktop {
    position: absolute;
    left: 50%;
    bottom: -10%;
    display: block;
    transform: scale(90%);
    
}

.texto-conteudo1 {
    width: 48%;
}

.texto-conteudo1 h3 {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

h3 span {
    display: block;
}

.texto-conteudo1 p {
    color: hsl(207, 13%, 34%);
    line-height: 1.3rem;
    margin: 0 1rem 0 1rem;
}

/* Middle */

.celulares img {
    position: absolute;
    left: 9%;
    transform: scale(160%);
    display: block;
}

.section-middle {
    width: 100%;
    height: 450px;
    margin-top: 7rem;
    margin-bottom: 5rem;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(#2C2D3F,#3F4164);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat, no-repeat;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.conteudo-middle {
    width: 50%;
    padding: 1rem 20rem 12rem 32.5rem;
}

.texto-conteudo-middle h3 {
    color: white;
    font-size: 2rem;
    padding: 2rem 2rem 0 2rem;
}

.texto-conteudo-middle p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 2rem 2rem 0 2rem;
}

/* Seção 2 */

.section2 {
    width: 100%;
    height: 1000px;
    padding: 6rem 0 0 0;
}

.texto-conteudo2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-conteudo2 h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

.texto-conteudo2 p {
    display: flex;
    align-self: flex-end;
    color: hsl(207, 13%, 34%);
    line-height: 1.5rem;
    margin: 0 1.5rem 3rem 1.5rem;
}

.conteudo2 .carregamento-desktop {
    position: absolute;
    overflow: hidden;
    left: 58%;
    top: 400%;
    display: block;
    transform: scale(70%);
}



/* Formulário*/

.conteudo2 .contato {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

#form {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
}

.nomeEmail {
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(208, 49%, 24%)
}

.nomeMensagem {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    color: hsl(208, 49%, 24%)
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    transform: scale(150%);
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.caixa-email {
    transform: scale(150%);
}

.botao-enviar {
    text-decoration: none;
    height: 3rem;
    width: 10%;
    margin-top: -1rem;
    align-self: center;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    background-color: rgb(224, 224, 224);
    color: hsl(208, 49%, 24%);
    cursor: pointer;   
}

.botao-enviar:hover {
    background-color: hsl(355, 100%, 74%);
}

/* Footer */

.footer {
    height: 320px;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 90px;
}

.footer h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding-top: 3rem;
}

.footer img{
    transform: scale(30%);
    position: relative;
    bottom: 100px;
    left: 25px;
}

.footer h5{
    color: hsl(240, 2%, 79%);
    margin: 1rem 0 0 0;
}

.footer h6{
    color: hsl(240, 2%, 79%);
    margin: 1 0 19rem 0;   
}
}

/* MEDIAQUERY TELAS MAIORES */

@media (min-width: 1200px){

/* Header */

.container {
    width: 100%;
    height: 500px;
    position: absolute;
    background-image: url(images/bg-pattern-intro-desktop.svg), linear-gradient(135deg, #FF8F71, #FF3E55);
    background-position: 25% 52%;
    background-size: 220%, 100%, 0% 0%;
    border-bottom-left-radius: 100px;
    background-repeat: no-repeat;  
}

.container .nav {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.nav h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    color: white;
    width: 40%;
    padding-left: 1rem;
    text-align: center;
}

.text-header {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;  
}

#p1 {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2.5rem 1rem 0 1rem;
}

#p2 {
    color: white;
    font-size: 1.6rem;
    font-weight: 100;  
    padding: 0 5rem 1rem 5rem;  
}

.botao-header {
    margin-top: 0;
}

.botao-header a {
    text-decoration: none;
    height: 10rem;
    width: 40%;
    align-self: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    background-color: rgb(224, 224, 224);
    color: hsl(356, 100%, 66%); 
    cursor: pointer;   
}

.botao-header a:hover {
    background-color: hsl(355, 100%, 74%);
}

/* Menu */

.menu {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    display: block;
}

.fecha-botao {
    display: none;    
}

.menu-wrapper {
    background-color: transparent;
    width: 98%;
    height: auto;
    border-radius: 0;
    margin-top: 0; 
    box-shadow: none;  
    flex-direction: row; 
    justify-content: flex-end;
}

.abas-menu {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 75%;
}

.abas-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.2rem;  
}

.abas-menu a:hover {
    color: hsl(240, 2%, 79%);
    font-size: 1.3rem;
    text-decoration: underline;
}

.menu-hide {
    left: 0;
    opacity: 1;   
}

.hamburger {
    display: none;
}

/*Seção 1*/

.section1 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 5rem 20rem 5rem;
}

.section1 h2 {
    font-size: 2.8rem;
    font-weight: 600;
    padding: 30rem 2rem 7rem 2rem;
    color: hsl(208, 49%, 24%)
}

.login-mobile, .carregamento-mobile {
    display: none;   
}

.conteudo1 .login-desktop {
    position: absolute;
    left: 50%;
    bottom: -10%;
    display: block;
    transform: scale(90%);
    
}

.texto-conteudo1 {
    width: 48%;
}

.texto-conteudo1 h3 {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

h3 span {
    display: block;
}

.texto-conteudo1 p {
    color: hsl(207, 13%, 34%);
    line-height: 1.3rem;
    margin: 0 1rem 0 1rem;
}

/* Middle */

.celulares img {
    position: absolute;
    left: 9%;
    transform: scale(160%);
    display: block;
}

.section-middle {
    width: 100%;
    height: 450px;
    margin-top: 7rem;
    margin-bottom: 5rem;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(#2C2D3F,#3F4164);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat, no-repeat;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.conteudo-middle {
    width: 45%;
    padding: 1rem 20rem 12rem 40rem;
}

.texto-conteudo-middle h3 {
    color: white;
    font-size: 2rem;
    padding: 2rem 2rem 0 2rem;
}

.texto-conteudo-middle p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 2rem 2rem 0 2rem;
}

/* Seção 2 */

.section2 {
    width: 100%;
    height: 1000px;
    padding: 6rem 0 0 3rem;
}

.texto-conteudo2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-conteudo2 h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 0 2rem 0 2rem;
    color: hsl(208, 49%, 24%)
}

.texto-conteudo2 p {
    display: flex;
    align-self: flex-end;
    color: hsl(207, 13%, 34%);
    line-height: 1.5rem;
    margin: 0 1.5rem 3rem 1.5rem;
}

.conteudo2 .carregamento-desktop {
    position: absolute;
    overflow: hidden;
    left: 63%;
    top: 400%;
    display: block;
    transform: scale(70%);
}



/* Formulário*/

.conteudo2 .contato {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem 6.5rem 0 0;
    color: hsl(208, 49%, 24%)
}

#form {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
}

.nomeEmail {
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(208, 49%, 24%)
}

.nomeMensagem {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    color: hsl(208, 49%, 24%)
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    transform: scale(150%);
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.caixa-email {
    transform: scale(150%);
}

.botao-enviar {
    text-decoration: none;
    height: 3rem;
    width: 10%;
    margin-top: -1rem;
    align-self: center;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    background-color: rgb(224, 224, 224);
    color: hsl(208, 49%, 24%);
    cursor: pointer;   
}

.botao-enviar:hover {
    background-color: hsl(355, 100%, 74%);
}

/* Footer */

.footer {
    height: 320px;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 90px;
}

.footer h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding-top: 3rem;
}

.footer img{
    transform: scale(30%);
    position: relative;
    bottom: 100px;
    left: 25px;
}

.footer h5{
    color: hsl(240, 2%, 79%);
    margin: 1rem 0 0 0;
}

.footer h6{
    color: hsl(240, 2%, 79%);
    margin: 1 0 19rem 0;   
}
}